/* import styled from '@emotion/styled'; */

/* .p {
    font-size: 50px;
} */

.section {
    border: 2px solid #b63f3f;
    padding: 20px;
    font-size: 24px;
}



.sectionTitle {
    color: #3f51b5;
}

.fontSizeColorTitle {
    font-size: 90px;
    color: #31741d;
}

.sectionTitle::before {
    background-color: #6ab53f;
}

/* ----------------------------- */


/* Общие стили для всех типов оповещений */
.alert {
    font-size: 12px;
    font-weight: 500;
}

/* Специфические стили для каждого типа */
.success {
    color: green;
    /* background-color:#b7ecb7 ; */
}

.warning {
    color: orange;
}

.error {
    color: red;
    /* background-color: #eccab7; */
}

.successBackgroundColor {
    background-color: #b7ecb7;
}

.errorBackgroundColor {
    background-color: #eccab7;
}

/* ----------------------------- */
